@charset "utf-8";

.qna {width:100%; padding: 0 10px; max-width:1000px; min-height: 500px; margin:0 auto; position:relative;}

table.list-table {width:100%; margin: 10px 0; line-height:28px; white-space:nowrap;}
table.list-table th {text-align:center; padding:3px 10px; background:rgba(0,0,0,0.1); height:34px;}
table.list-table td {padding:5px 10px; height:34px;}
table.list-table tr:nth-child(2n) {background:rgba(0,0,0,0.05);}

table.write-table {width:100%; white-space:nowrap; border-top:1px solid #ddd;}
table.write-table th {text-align:left; width:90px; border:1px solid #eee; padding:3px; background:#fafafa;}
table.write-table th.required::after {content:'*'; padding-left:3px; display:inline-block; font-size:11px; color:#ff5500;}
table.write-table td {border:1px solid #eee; padding:5px;}

.qna-form-popup {position:fixed; width:100%; height:100%; left:0; top:0; z-index:1000; background:rgba(0,0,0,0.5);}
.qna-form-popup .form {position: absolute; width:60%; left:20%; top:10%; border-radius:5px; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); background:#fff; border:1px solid #aaa;}

@media (max-width: 1000px), (max-height: 800px) {
    .qna-form-popup .form {left:0; top:0; width:100%; height:100%; overflow:auto;}
}

