@charset "utf-8";

/*slide*/
.slide-wrap {width:100%; position:relative;}
.preview-slide {width:100%; overflow:hidden;}
.preview-slide ul.swiper-wrapper {width:100%; white-space: nowrap;}
.preview-slide ul.swiper-wrapper li {display:inline-block; width:100%;}
.preview-slide ul.swiper-wrapper li img {width:100%;}

.preview-slide.main-visual-sub {padding: 5px 0;}
.preview-slide.main-visual-sub ul.swiper-wrapper li {display:inline-block; width:100%; padding: 5px;}

.preview-slide .swiper-button {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  cursor: pointer;
}
.preview-slide .swiper-button .icon {color:#000; font-size: 50px; line-height: 50px;}
.preview-slide .swiper-prev {
  text-align: left;
  left: -50px;
}
.preview-slide .swiper-next {
  text-align: right;
  right: -50px;
}

.preview-slide .swiper-prev,
.preview-slide .swiper-next {display:none;}

@media screen and (min-width: 639px) {
  .preview-slide .swiper-prev,
  .preview-slide .swiper-next {display:none;}
}

